@model UserViewModel

@{
    string actionName = "Create";
    if (!string.IsNullOrEmpty(Model.Id))
    {
        actionName = "Edit";
    }
    ViewData["Title"] = $"{actionName} User";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="" asp-action="">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a asp-area="admin" asp-controller="users" asp-action="">Users</a></li>
                    <li class="breadcrumb-item active">@actionName</li>
                </ol>
            </div>
            <div class="col-sm-6 text-right">
                <a id="btnSave" class="btn btn-sm btn-silverlight"> <i class="fa fa-save"></i> Save</a>
                <a class="btn btn-sm btn-default" href="~/admin/users"> <i class="fa fa-reply"></i> Back</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("CreateOrEdit", "Users", null, FormMethod.Post, true, new { @id = "userForm",@enctype="multipart/form-data" }))
                        {
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.UrlImage)
                            @Html.HiddenFor(x => x.IsUrlImageChange)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <div >
                                            <img id="previewImage" class="profile-user-img img-fluid" src="@Model.UrlImage" alt="User profile picture">
                                        </div>
                                        <div class="mt-2 upload-btn-wrapper">
                                            <button class="btn btn-silverlight">Upload a file</button>
                                            @Html.TextBoxFor(x => x.UrlImageFormFile, new {@onchange="handleFileInputChange(this)",@type="file"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label><span class="text-danger ml-1">*</span>
                                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder="Enter FirstName..." })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Firstname</label><span class="text-danger ml-1">*</span>
                                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder="Enter FirstName..." })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Lastname</label><span class="text-danger ml-1">*</span>
                                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder="Enter Lastname..." })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder="Enter Phone Number..." })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder="Enter Address..." })
                                    </div>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/admin/user/CreateOrEdit.js"></script>
}