@{
    ViewData["Title"] = "User";
}

@model IndexUserViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4 class="m-0">Dashboard</h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/admin">Home</a></li>
                    <li class="breadcrumb-item active">User</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-group mb-3">
                                    @*<input type="text" class="form-control" placeholder="Enter your search...">*@
                                    @Html.TextBoxFor(x => x.TextSearch, new { @class = "form-control",@placeholder="Nhập từ khóa, ấn Enter để tìm kiếm..." })
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-silverlight">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tblUsers" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model.Users)
                                        {
                                            <tr>
                                                <td class="text-center sl-dt-idx"></td>
                                                <td>@user.UserName</td>
                                                <td>@user.Email</td>
                                                <td>@user.PhoneNumber</td>
                                                <td>@user.Address</td>
                                                <td class="text-center sl-dt-action">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-silverlight btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                            Thao tác
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="~/admin/user/create-or-edit/@user.Id"><i class="fa fa-edit mr-2"></i> Edit</a>
                                                            <a class="dropdown-item" href="~/admin/user/my-profile"><i class="fa fa-eye mr-2"></i> View Profile</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/admin/user/index.js"></script>
}