@model SettingsViewModel

@{
    ViewData["Title"] = "Settings";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="" asp-action="">Dashboard</a></li>
                    <li class="breadcrumb-item active">Settings</li>
                </ol>
            </div>
            <div class="col-sm-6 text-right">
                <a id="btnSave" class="btn btn-sm btn-silverlight"> <i class="fa fa-save"></i> Save</a>
                <a class="btn btn-sm btn-default" href="~/admin/users"> <i class="fa fa-reply"></i> Back</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Website name</label>
                                    @Html.TextBoxFor(x => x.WebsiteName, new { @class = "form-control", @placeholder="Enter website name..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Logo</label>
                                    @Html.TextBoxFor(x => x.Logo, new { @class = "form-control", @placeholder="Enter website name..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Logo Short</label>
                                    @Html.TextBoxFor(x => x.Logo, new { @class = "form-control", @placeholder="Enter website name..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder="Enter phone..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder="Enter address..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Facebook</label>
                                    @Html.TextBoxFor(x => x.Facebook, new { @class = "form-control", @placeholder="Enter link facebook..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Instagram</label>
                                    @Html.TextBoxFor(x => x.Instagram, new { @class = "form-control", @placeholder="Enter link instagram..." })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Twitter</label>
                                    @Html.TextBoxFor(x => x.Twitter, new { @class = "form-control", @placeholder="Enter link twitter..." })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/admin/settings/index.js"></script>
}